* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
}

body {
  background-color: #000;
  color: white;
}

body ::-moz-selection {
  color: red;
  background-color: transparent;
}

body ::selection {
  color: red;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo h2 {
  color: #350DD3;
  font-size: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.header-logo h2:hover {
  -webkit-transition: all 01s ease-in-out;
  transition: all 01s ease-in-out;
  color: #c71585;
}

.header-item {
  z-index: 002;
}

.header-item .item-list {
  cursor: pointer;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-item .item-list .link {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
  color: #350DD3;
}

.header-item .item-list .link:hover {
  -webkit-transition: all 01s ease-in-out;
  transition: all 01s ease-in-out;
  color: #c71585;
}

.header .hamburger {
  display: none;
}

@media screen and (max-width: 620px) {
  .header-item {
    display: none;
    background-color: aliceblue;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header-item .item-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .header-item .item-list li {
    margin: 1rem;
  }
  .header-item.show {
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header-item.show .item-list {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header .hamburger {
    display: block;
  }
  .header .hamburger-btn {
    position: absolute;
    right: 1rem;
    top: 2.8rem;
    background-color: #350DD3;
    width: 1.5rem;
    height: 2px;
  }
  .header .hamburger-btn::before {
    content: '';
    position: absolute;
    top: 8px;
    background-color: #350DD3;
    width: 1.5rem;
    height: 2px;
  }
  .header .hamburger-btn::after {
    content: '';
    position: absolute;
    top: 1rem;
    background-color: #350DD3;
    width: 1.5rem;
    height: 2px;
  }
  .header .hamburger-btn.show {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    background: transparent;
  }
  .header .hamburger-btn.show::after {
    -webkit-transform: rotate(45deg) translate(-12px, 4px);
            transform: rotate(45deg) translate(-12px, 4px);
  }
  .header .hamburger-btn.show::before {
    -webkit-transform: rotate(-45deg) translate(-10px, -7px);
            transform: rotate(-45deg) translate(-10px, -7px);
  }
}

.sticky {
  position: fixed;
  width: 99%;
  top: 0;
  background: rgba(12, 0, 50, 0.7);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 100;
}

.sticky .header-logo h2 {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.sticky .header-item .item-list {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.sticky .header-item .item-list li {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

main {
  position: absolute;
  top: 4rem;
}

main .intro {
  padding: 3rem 0 3rem 3rem;
}

main .intro h3 {
  font-size: 1.7rem;
  color: #240090;
}

main .intro h1 {
  font-size: 4rem;
  color: #240090;
}

main .intro h2 {
  font-size: 2rem;
  color: #240090;
}

main .intro h4 {
  font-size: 2rem;
  color: #240090;
}

main .contact {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .contact button {
  width: 6rem;
  height: 3rem;
  margin-right: 1rem;
  background: #350DD3;
  border-radius: 5px;
  color: whitesmoke;
  outline: none;
  border: none;
}

main .contact button:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: rgba(53, 13, 211, 0.7);
}

main .about {
  padding: 3rem 0 3rem 3rem;
}

main .about-title h1 {
  font-size: 2rem;
  color: #350DD3;
}

main .about-desc {
  padding: 0 1rem;
}

main .about-desc p {
  font-size: 1.3rem;
  color: white;
}

main .technologies {
  padding: 3rem 0 3rem 3rem;
}

main .technologies h1 {
  font-size: 2rem;
  color: #350DD3;
}

main .technologies-desc {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .technologies-desc .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .technologies-desc .desc i {
  font-size: 2rem;
}

main .technologies-desc .desc img {
  width: 3rem;
  color: aliceblue;
}

@media screen and (max-width: 500px) {
  #tsparticles {
    height: 59vh;
  }
  main .intro h1 {
    font-size: 3rem;
  }
  main .intro p {
    font-size: 1rem;
  }
  main .contact {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: -4rem;
  }
  main .technologies-desc {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 700px) and (min-width: 501px) {
  main .technologies-desc {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 329px) {
  main {
    position: absolute;
  }
  main .contact button {
    width: 5rem;
    height: 2.5rem;
  }
  main .contact button a {
    font-size: 1rem;
  }
}

hr {
  width: 80%;
  border: 1px solid #190061;
}

hr::before {
  content: "";
  width: 1rem;
}

.main-show {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  pointer-events: none;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 96vh;
}

.social {
  position: fixed;
  padding-left: 0.4rem;
  top: 39%;
  left: 0%;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icons i {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.social-icons i:hover {
  -webkit-transition: all 01s ease-in-out;
  transition: all 01s ease-in-out;
  color: #c71585;
}

.projects {
  padding: 3rem 0 3rem 3rem;
}

.projects h1 {
  font-size: 2rem;
  color: #350DD3;
}

.projects-cards {
  width: 100%;
  padding: 1rem;
  padding: 0 1.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.projects-cards .card {
  border: 1px solid #350DD3;
  width: 100%;
  border-radius: 10px;
  position: relative;
  height: auto;
}

.projects-cards .card img {
  display: block;
  border-radius: 10px;
  width: 100%;
}

.projects-cards .card-overlay {
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  -webkit-transition: 0.5s  ease-in;
  transition: 0.5s  ease-in;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: all;
}

.projects-cards .card-overlay a {
  position: absolute;
  top: 36%;
  left: 39%;
}

.projects-cards .card-overlay a button {
  border-radius: 10px;
  border: 1px solid whitesmoke;
  color: white;
  outline: none;
  background: none;
  width: 6rem;
  height: 3rem;
}

.projects-cards .card-overlay a button:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #350DD3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.projects-cards .card:hover .card-overlay {
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .projects-cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 751px) and (max-width: 1000px) {
  .projects-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.particle {
  background-image: url("https://i.pinimg.com/originals/1b/06/b8/1b06b87d5f493f93130ffcccdac578bf.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #350DD3;
  outline: 1px solid slategrey;
}
/*# sourceMappingURL=index.css.map */